/* تحديد بعض الخواص لكل العناصر كاتجاه الكتابة و حجم الخط */
* {
    box-sizing: border-box;
    font-weight: 500;
    direction: rtl;
}

/* تنسيقات الصفحة */
.page {
    height: 616px;
    padding-top: 40px;
    padding-right: 4px;
    background-image: linear-gradient(to bottom, #213a59 5%, #758aa5 5% 18%, white 18%);
    display: grid;
    /*قمنا بعمل هذا للحصول على العناصر بتنظيم لايؤثر به حجم الصفحة */
    grid-template-rows: 180px 37px 27px 52px 71px 104px 53px 53px 1fr;
    gap: 0px;

}

/* بداية تنسيقات العنوان الذي هو عبارة عن الصورة و الاسم */

header {
    padding: 10px;
    position: relative;
    bottom: 10px;
}

h1 {
    margin-top: 10px;
}


header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: -20px;
    -webkit-border-radius: 50%;
    /*نضيف هذه للعناصر التي نشك ان بعض المتصفحات لا تتحملها */
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* نهاية تنسيقات العنوان */

/* بداية تنسيقات الايميل */
.mail {
    align-self: center;
    margin-top: -58px;
    margin-right: 20px;

}

.mail a {
    text-decoration: none;
}

/* نهاية تنسيقات الايميل */

/* بداية تنسيقات ايقونات اللغات */

.languages {
    display: flex;
    gap: 30px;
    position: relative;
    bottom: 30px;
}

.languages .html,
.languages .js,
.languages .css {
    border: none;
    border-radius: 5px;
    color: white;
    width: 50px;
    height: 22px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.languages .html {
    background-color: #f7a230;
}

.languages .js {
    color: #8e9a9a;
    background-color: #f9dd31;
}

.languages .css {
    background-color: #2fa9f9;
}

/* نهاية تنسيقات ايقونات اللغات */

/* بداية تنسيقات الازرار */
.modification {
    display: flex;
    gap: 30px;
    margin-top: 10px;
    position: relative;
    bottom: 36px;
}

.modi_profile {
    background-color: #eee5da;
    color: #53505a;
}

.modi_account {
    background-color: #213a59;
    color: white;
}

.modi_profile,
.modi_account {
    border-radius: 3px;
    border: 1.5px solid #213a59;
    width: 145px;
    height: 30px;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;

}

/* نهاية تنسيقات الازرار */

/* بداية تنسيقات ايقونات التواصل */

.contact {
    display: flex;
    position: relative;
    bottom: 45px;
}

.contact h3 {
    font-size: larger;
    font-weight: bolder;
    color: #213a59;
}

.contact .contact .fig_contact {
    display: flex;
    gap: 20px;
}

.contact .fig_contact img {
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 40%;
    -webkit-border-radius: 40%;
    -moz-border-radius: 40%;
    -ms-border-radius: 40%;
    -o-border-radius: 40%;
}

/* بداية تنسيقات ايقونات التواصل */

/* بداية تنسيق ملخص السيرة الذاتية */

.details {
    position: relative;
    bottom: 45px;
}

.details h3 {
    font-size: larger;
    font-weight: bolder;
    color: #213a59;
}

.details p {
    padding-right: 30px;
}

/* بداية تنسيق ملخص السيرة الذاتية */

/* تنسيق كل من عدد المتابعين و المشاريع */
.folowers {
    display: grid;
    grid-template-columns: 30px 90px 1fr;
    height: 25px;

}

.folowers img {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.folowers .p_fol {
    position: relative;
    top: -12px;
}

.projects {
    display: grid;
    grid-template-columns: 30px 90px 1fr;
    position: relative;
    bottom: -1px;

}

.projects img {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.projects .p_projects {
    position: relative;
    top: -12px;
}

.folowers_and_projects {
    position: relative;
    bottom: 26px;
    padding-right: 26px;
}

hr {
    background-color: #213a59;
    height: 1px;
    width: 100%;
}

/* انتهى */