#nav{
    width: 60px;
    height: 90%;
    background: $secondColor;
    box-shadow: 0 0 10px $lightColor3;
    border-radius: 12px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    .up{
        height: auto;
        width: 60px;
        display: flex;
        flex-direction: column;
       align-items: center;
        .logo{
            width: 45px;
            margin-top: 8px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }
        ul{
            list-style: none;
            height: auto;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            li{
                height: 45px;
                margin-top: 16px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all .3s ease;
                &:hover{
                    background: $lightColor;
                    border-radius: 12px;
                }
                a{
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                 
                    
                    svg{
                        width: 40px;
                        height: 40px;
                        fill: $lightColor;
                        transition: all .3s ease;
                        &:hover{
                            fill: $good;
                        }
                    }
                }
                
            }
        }
    }
    
    .dawn{
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        
    }
   
}