// list of color
$mainColor:#223A59;
$secondColor:#3684DB;
$darkColor:#031930;
$lightColor:#f7f7f7;
$lightColor2:#B3D6F9;
$lightColor3:#758BA5;
$blackColor:#121212;
$danger:#dc2626;
$alert:#fbbf24;
$good:#65a30d;

//list of type:
$ronded:50%;
$radius:12px;
$shadow1:0 3px 10px rgba(0 ,0,0,0.1);
@font-face {
    font-family: tajawal;
    src: url(../../../font/Tajawal-Regular.ttf);
}