@import 'var';
header{
    width: 100%;
    height: 40px;
    background: $darkColor;
    box-shadow: 0 3px 10px rgba($color: #000000, $alpha: 0.2);
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    .logo{
        display: flex;
        width: auto;
        justify-content: center;
        align-items: center;
        img{
            width: 35px;
            height: 35px;
            border-radius: 50%;
            margin-right: 16px;
            margin-left: 8px;
            cursor: pointer;
        }
        h1{
            color: $lightColor;
            font-family: $font;
            font-size: 20px;
            cursor: pointer;
        }
    }
    ul{
        display: flex;
        margin-left: 16px;
        align-items: center;
        justify-content: center;
        width: 180px;
        height: 40px;
        justify-content: space-between;
        list-style: none;
        li{
            width: 80px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            transition: all .3s ease;
            &:nth-child(1){
                border: 2px solid transparent;
                &:hover{
                    border: 2px solid $shadow;
                    border-radius: 8px;
                    padding: -4px;
                }
                a{
                    font-family: $font;
                    text-decoration: none;
                    font-size: 18px;
                    color: $lightColor;
                    &:hover{
                        color: $ThirdColor;
                    }
                }
            }
            &:nth-child(2){
                border-radius: 8px;
                border: 2px solid $shadow;
                &:hover{
                    border: 2px solid $ThirdColor;
                }
                a{
                    font-family: $font;
                    text-decoration: none;
                    font-size: 18px;
                    color: $lightColor;
                    width: 100%;
                    &:hover{
                        color: $ThirdColor;
                    }
                }
            }
        }
    }
}