nav{
    width: 80%;
    background: $darkColor;
    border-radius: 0 0 12px 12px;
    border-bottom:1px solid $lightColor;
    border-right: 1px solid $lightColor;
    border-left:  1px solid $lightColor;
    box-shadow: $shadow1;
    display: flex;
    padding: 5px 30px;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    .search{
        display: none;
          form{
             display: none;
              button{
                display: none;
                  svg{
                      display: none;
                  }
              }
              input{
                 display: none;
              }
          }
          
      }
    .logo{
        width: 200px ;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        .logo_img{
            background-image: url(../../file/image/logo.png);
            background-size:cover;
            border-radius: $ronded;
            width: 35px;
            height: 35px;
            margin-left: 2px;
        }
      h1{
        a{
            text-decoration: none;
            width: 155px;
            font-size: 18px;
            align-items: center;
            justify-content: center;
            display: flex;
            color: $lightColor;
        }

      }
    }
    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        li{
            a{
            color: $lightColor;
            margin-left: 8px;
            text-decoration: none;
            font-size: 18px;
            transition: all .3s ease;
            height: 100%;
            &:hover{
                color: $mainColor;
                background: $lightColor2;
                border-radius: 2px;
            }

            }
         
        }
    }
   
}
@media screen and (max-width:580px){
    .search{
      display: none;
        form{
           display: none;
            button{
              display: none;
                svg{
                    display: none;
                }
            }
            input{
               display: none;
            }
        }
        
    }
}
@media screen and (max-width:420px){
    nav{
        display: none;
    }
}