@import 'var';
#edit_profile2{
    padding-top: 16px;
    width: 100%;
    height: auto;
    background: $lightColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    .text_head{
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba($color: #000000, $alpha: 0.1);
        width: 95%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h4{
            color: $mainColor;
            font-size: 18px;
        }
        button{
            width: 120px;
            height: 35px;
            background: $mainColor;
            border-radius: 8px;
            color: $lightColor;
            outline: none;
            border: 2px solid $lightColor;
            transition: all .3s ease;
            &:hover{
                background: $lightColor;
                color: $mainColor;
                border: 2px solid $mainColor;
            }
        }

    }
   
    ////تخصيص مكان رفع الصورة
    .upload_photo{
        margin-top: 16px;
        width: 95%;
        height: 100px;
        display: flex;
        #yourPhoto{
            width: 100px;
            height: 100px;
            border: 2px solid $mainColor;
            border-radius: 8px;
          img{
            width: 95%;
            height: 95%;
          }
        }
        .input_photo{
            display: flex;
            flex-direction: column;
            height: 100px;
            margin-right: 16px;
            justify-content: center;
            #inputFile{
                display: none;
            }
            .custom_upload_file{
                display: flex;
                align-items: center;
                justify-content: center;
                color: $lightColor;
                background: $secondColor;
                height: 35px ;
                width: 100px;
                border-radius: 8px;
                transition: all .3s ease;
                border: 2px solid $lightColor;
                &:hover{
                    background: $lightColor;
                    color: $secondColor;
                    border: 2px solid $secondColor;
                }
            }
            #delete_photo{
                width: 100px;
                height: 35px;
                color: $lightColor;
                background: $danger;
                margin-top: 16px;
                border-radius: 8px;
                outline: none;
                border: 2px solid $lightColor;
                transition: all .3s ease;
                &:hover{
                    background: $lightColor;
                    color: $danger;
                    border: 2px solid $danger;
                }
            }
        }
    }

}
.h4_edit_profile{
    color: $darkColor;
    align-self: flex-start;
    width: 95%;
    margin: 16px;
}
.edit_container{
    margin-top: 16px;
    width: 95%;
    height: auto;
    display: flex;
    .edit_box{
        margin-left: 16px;
        width: 120px;
        height: 65px;
        display: flex;
        flex-direction: column;
        justify-items: center;
        #gender{
            width: 120px;
            height: 35px;
            border: 2px solid $mainColor;
            border-radius: 8px;
            background: transparent;
        
        }
        h5{
            height: 30px;
            margin-right: 6px;
        }
        .edit_input{
            height: 35px;
            width: 120px;
            border: 2px solid $mainColor;
            border-radius: 8px;
            background: transparent;
        }
    }
}