// var color :
$darkColor:#031930;
$secondColor:#223A59;
$primaryColor:#3684DB;
$ThirdColor:#B3D6F9;
$shadow:#758BA5;
$lightColor:#D1DDED;
//color bootstrap:
$danger:#dc3545;
$secondary:#6c757d;
$success:#198754;
$info:#0dcaf0;
$warning:#ffc107;
$primary:#0d6efd;
$light:#f8f9fa;
$dark:#212529;
//var font:
$font:"Tajawal", sans-serif;