* {
  margin: 0;
  padding: 0;
  font-family: tajawal;
}

@import 'var';
@import 'navbar';
@import  'scrollbar';

//start section hello;
// make body with full page height 
body {
  height: fit-content;
  background: #f7f7f7;
}

#hello {
  height: 100vh;
  display: flex !important;
  flex-wrap: wrap !important;

  justify-content: space-between;
  align-items: center;
  background: $lightColor;

  .hello_img {
    flex-basis: 30%;
    padding: 0 20px;

    img {
      width: 100%;
      border-radius: 12px;
      margin-left: 16px;
      box-shadow: 0 0 10 rgba($color: #000000, $alpha: 0.1);
    }
  }

  .hello_text {
    width: 60%;
    text-align: justify;
    margin-right: 16px;

    h1 {
      color: $mainColor;
      font-size: 40px;
    }

    p {
      line-height: 2;
      margin-top: 16px;
      color: $darkColor;
      font-size: 16px;
      word-spacing: 2px;
    }
  }
}

@media screen and (max-width:725px) {

  #hello {
    height: fit-content !important;
    display: flex;
    padding-top: 32px;
    flex-wrap: wrap;

    .hello_img {
      width: 70%;
      height: 70%;
      margin-top: 8px;

      img {
        width: 100%;
        border-radius: 12px;
        margin-left: 16px;
        box-shadow: 0 0 10 rgba($color: #000000, $alpha: 0.1);
      }
    }

    .hello_text {
      width: 100%;
      margin-right: 16px;

      h1 {
        color: $mainColor;
        font-size: 40px;
        text-align: center;
      }

      p {
        margin-top: 16px;
        text-align: justify;
        font-size: 16px;
        word-spacing: 2px;
        width: 100%;
        color: $darkColor;
      }
    }
  }
}

@media (max-width: 992px) {
  #hello .hello_img {
    flex-basis: 100%;
    padding: 0 20px;
    text-align: center;
  }

  #hello .hello_text {
    padding: 0 20px !important;
    margin: 0 !important;
    width: 100%
  }
}

#hello .hello_img img {
  width: 80%;
  max-width: 100%;
  border-radius: 12px;
  box-shadow: 0 0 10 rgba(0, 0, 0, 0.1);
  mix-blend-mode: darken;
}

//end section hello;
#road {
  width: 100%;
  height: fit-content;
  background: #f2f3f4;
  padding-top: 80px;
  margin: 80px 0;
  height: auto;
  display: flex;
  flex-direction: column;
}

#road img {
  mix-blend-mode: darken;

}

#road h1 {
  font-size: 29px;
  color: #223A59;
  margin: 16px;
}

#road p {
  margin-right: 16px;
  width: 80%;
  margin-bottom: 16px;
  line-height: 2;
  text-align: justify !important;
}

#road .road1 {
  margin-bottom: 20px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: fit-content !important;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

#road .road1 .description {
  width: 60%;
  padding: 20px
}

#road .road1 .description h1 {
  font-size: 24px;
  color: #031930;
}

#road .road1 .description p {
  font-size: 17px;
  color: #121212;
  text-align: justify;
}

#road .road1 .description button {
  width: 120px;
  height: 30px;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid #f7f7f7;
  color: #f7f7f7;
  background: #223A59;
  transition: all 0.3s ease;
  margin-bottom: 8px;
}

#road .road1 .description button:hover {
  border: 2px solid #223A59;
  background: #f7f7f7;
  color: #223A59;
}

#road .road1 img {
  height: 90%;
  width: 30%;
  border-radius: 12px;
  box-shadow: 0 0 23px 5px rgba($color: #000000, $alpha: 0.1)
}

/*road info styling*/
#road .info {
  margin-bottom: 40px;
  width: 100%
}

.info p {
  width: 100%;
}

@media screen and (max-width: 767px) {
  #road {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    box-shadow: 0 -6px 10px rgba(0, 0, 0, 0.1);
  }

  #road h1,
  #road p {
    text-align: center !important;
  }

  #road .road1 {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }

  #road .road1 img {
    margin: 10px 0 !important;
    width: 40%
  }

  #road .road1 .description button {
    display: block !important;
    width: 200px !important;
    margin: auto !important;
  }

  #road .road1 .description {
    width: 80%;
  }

  #road .road1 .description h1 {
    font-size: 24px;
    color: #031930;
  }

  #road .road1 .description p {
    font-size: 16px;
    color: #121212;
  }

  #road .road1 .description #foundation {
    width: 120px;
    height: 30px;
    border-radius: 8px;
    cursor: pointer;
    border: 2px solid #f7f7f7;
    color: #f7f7f7;
    background: #223A59;
    transition: all 0.3s ease;
  }

  #road .road1 .description #foundation:hover {
    border: 2px solid #223A59;
    background: #f7f7f7;
    color: #223A59;
  }

  #road .road1 img {
    height: 90%;
    border-radius: 12px;
    box-shadow: -6px 0 10px rgba(0, 0, 0, 0.1);
  }
}

/*# sourceMappingURL=home.css.map */

@media (min-width: 720px) and (max-width: 870px) {
  #nav ul {
    width: 50% !important;
  }

  #nav ul li {
    padding: 0 !important;
  }
}

#road img {
  margin: 40px 0;
}

img {
  object-fit: cover !important;
  max-width: 100%;
}












/********************************************/
/*
start section language
*/
/********************************************/
.languages {
  background-color: #eee !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100% ;
  margin-top: 16px;
    .languages_box{
         margin-top: 20px;
         box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
         width: 90%;
         height: 150px;
         display: flex;
         border-radius: 12px;
         flex-direction: row-reverse;
         align-items: center;
         justify-content: space-between;
         figure{
          width:150px;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

         }
         .content{
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: center;
          margin-right: 8px;
          h3{
            margin-bottom: 16px;
          }
          p{
            margin-bottom: 8px;
          }
          .progress{
            width: 100%;
            height: 10px;
            border: 1px solid $mainColor;
            border-radius: 12px;
            margin-bottom: 8px;
            .progress_chart{
              
            }
          }
          button{
            width: 80%;
            height: 35px;
            border: 2px solid $mainColor;
            background: $mainColor;
            color: $lightColor;
            transition: all .4s ease;
            border-radius: 12px;
            &:hover{
              color: $mainColor;
              background: $lightColor;
              border: 2px solid $mainColor;
            }
          }
         }
    }
}



/********************************************/
/*
end section language
*/
/********************************************/


/********************************************/
/*
start section features
*/
/********************************************/
#features {
  margin-top: 16px;
  width: 90%;
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;

  .h_section_title {
    color: $mainColor;
    margin-bottom: 16px;
  }

  .container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-around;

    ._box {
      width: 30%;
      height: 150px;
      border: 2px solid red;
      margin-top: 16px;
      border-radius: 12px;
      background: $lightColor;
      box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.2);
    }
  }
}

/*
*********************
Start Select Road
**********************/
.select-road {
 width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;

  .content1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 99%;
    height: 100%;

    .image {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        border-radius: 12px 0 0 12px;
        box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.1);
      }
    }

    .text {
      text-align: center;

      h1 {
        color: $mainColor;
        font-weight: 600;
      }

      p {
        margin: 20px auto;
        color: $mainColor;
        width: 80%;
        font-size: 18px;
      }

      button {
       height: 35px;
        outline: none;
        border: none;
        width: 50%;
        background: none;
        border: 2px solid $mainColor;
        border-radius: 12px;
        cursor: pointer;
        transition:all .4s ease ;

        &:hover {
          border-color: transparent;
          color: $lightColor;
          background: $mainColor;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .select-road {
    .content {
      flex-direction: column;
      display: flex;
      flex-wrap: wrap;

      .image,
      .text {
        width: 100%;
      }

      .image {
        order: 0;
        margin: auto;
        justify-content: center;
        margin: 30px 0 40px 0;
      }
    }
  }
}

/*
*********************
end Select Road
**********************/