* {
  margin: 0;
  padding: 0;
  font-family: tajawal;
}

@import 'var';
@import 'navbar';

//start section hello;
// make body with full page height 
body {
  height: fit-content;
  background: #f7f7f7;
}

#hello {
  height: 100vh;
  display: flex !important;
  flex-wrap: wrap !important;

  justify-content: space-between;
  align-items: center;
  background: $lightColor;

  .hello_img {
    flex-basis: 30%;
    padding: 0 20px;

    img {
      width: 100%;
      border-radius: 12px;
      margin-left: 16px;
      box-shadow: 0 0 10 rgba($color: #000000, $alpha: 0.1);
    }
  }

  .hello_text {
    width: 60%;
    text-align: justify;
    margin-right: 16px;

    h1 {
      color: $mainColor;
      font-size: 40px;
    }

    p {
      line-height: 2;
      margin-top: 16px;
      color: $darkColor;
      font-size: 16px;
      word-spacing: 2px;
    }
  }
}

@media screen and (max-width:725px) {

  #hello {
    height: fit-content !important;
    display: flex;
    padding-top: 32px;
    flex-wrap: wrap;

    .hello_img {
      width: 70%;
      height: 70%;
      margin-top: 8px;

      img {
        width: 100%;
        border-radius: 12px;
        margin-left: 16px;
        box-shadow: 0 0 10 rgba($color: #000000, $alpha: 0.1);
      }
    }

    .hello_text {
      width: 100%;
      margin-right: 16px;

      h1 {
        color: $mainColor;
        font-size: 40px;
        text-align: center;
      }

      p {
        margin-top: 16px;
        text-align: justify;
        font-size: 16px;
        word-spacing: 2px;
        width: 100%;
        color: $darkColor;
      }
    }
  }
}

@media (max-width: 992px) {
  #hello .hello_img {
    flex-basis: 100%;
    padding: 0 20px;
    text-align: center;
  }

  #hello .hello_text {
    padding: 0 20px !important;
    margin: 0 !important;
    width: 100%
  }
}

#hello .hello_img img {
  width: 80%;
  max-width: 100%;
  border-radius: 12px;
  box-shadow: 0 0 10 rgba(0, 0, 0, 0.1);
  mix-blend-mode: darken;
}

//end section hello;
#road {
  width: 100%;
  height: fit-content;
  background: #f2f3f4;
  padding: 80px 0;
  margin: 80px 0;
  height: auto;
  display: flex;
  flex-direction: column;
}

#road img {
  mix-blend-mode: darken;

}

#road h1 {
  font-size: 29px;
  color: #223A59;
  margin: 16px;
}

#road p {
  margin-right: 16px;
  width: 80%;
  margin-bottom: 16px;
  line-height: 2;
  text-align: justify !important;
}

#road .road1 {
  margin-bottom: 20px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: fit-content !important;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

#road .road1 .description {
  width: 60%;
  padding: 20px
}

#road .road1 .description h1 {
  font-size: 24px;
  color: #031930;
}

#road .road1 .description p {
  font-size: 17px;
  color: #121212;
  text-align: justify;
}

#road .road1 .description button {
  width: 120px;
  height: 30px;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid #f7f7f7;
  color: #f7f7f7;
  background: #223A59;
  transition: all 0.3s ease;
  margin-bottom: 8px;
}

#road .road1 .description button:hover {
  border: 2px solid #223A59;
  background: #f7f7f7;
  color: #223A59;
}

#road .road1 img {
  height: 90%;
  width: 30%;
  border-radius: 12px;
  box-shadow: 0 0 23px 5px rgba($color: #000000, $alpha: 0.1)
}

/*road info styling*/
#road .info {
  margin-bottom: 40px;
  width: 100%
}

.info p {
  width: 100%;
}

@media screen and (max-width: 767px) {
  #road {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    box-shadow: 0 -6px 10px rgba(0, 0, 0, 0.1);
  }

  #road h1,
  #road p {
    text-align: center !important;
  }

  #road .road1 {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }

  #road .road1 img {
    margin: 10px 0 !important;
    width: 40%
  }

  #road .road1 .description button {
    display: block !important;
    width: 200px !important;
    margin: auto !important;
  }

  #road .road1 .description {
    width: 80%;
  }

  #road .road1 .description h1 {
    font-size: 24px;
    color: #031930;
  }

  #road .road1 .description p {
    font-size: 16px;
    color: #121212;
  }

  #road .road1 .description #foundation {
    width: 120px;
    height: 30px;
    border-radius: 8px;
    cursor: pointer;
    border: 2px solid #f7f7f7;
    color: #f7f7f7;
    background: #223A59;
    transition: all 0.3s ease;
  }

  #road .road1 .description #foundation:hover {
    border: 2px solid #223A59;
    background: #f7f7f7;
    color: #223A59;
  }

  #road .road1 img {
    height: 90%;
    border-radius: 12px;
    box-shadow: -6px 0 10px rgba(0, 0, 0, 0.1);
  }
}

/*# sourceMappingURL=home.css.map */

@media (min-width: 720px) and (max-width: 870px) {
  #nav ul {
    width: 50% !important;
  }

  #nav ul li {
    padding: 0 !important;
  }
}

#road img {
  margin: 40px 0;
}

img {
  object-fit: cover !important;
  max-width: 100%;
}



/********************************************/
/*
start section language
*/
/********************************************/
.languages {
  background-color: #eee !important;
  display: grid;
  grid-template-columns: 100%;
  width: 99% !important;
  margin: 10px auto !important;
  gap: 2px 2px;
}

// start styling every languages

.html,
.css,
.JS,
.php,
.c,
.cpp,
.C_char,
.sql,
.python,
.java,
.ruby,
.another1,
.another2,
.another3,
.another4 {
  margin-bottom: 20px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: fit-content !important;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

// the head is the name of languages
.hed {
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
  font-size: larger;
  height: 25px;
  position: relative;
  bottom: 45px;
  left: 21px;
}

// the para is the discription of the language
.para {
  position: relative;
  left: 155px;
  bottom: 29px;
}

// hear i creat the lines shows progress in each languages

.html::before {
  content: "";
  order: 1;
  width: 582px;
  height: 13px;
  border: 1px solid black;
  position: absolute;
  left: 31%;
  bottom: 35%;
  background-image: linear-gradient(to right, #ec7528 20%, white 20% 80%);

}

.css::before {
  content: "";
  order: 1;
  width: 582px;
  height: 13px;
  border: 1px solid black;
  position: absolute;
  left: 31%;
  bottom: 35%;
  background-image: linear-gradient(to right, #377bf5 40%, white 40% 60%);

}

.JS::before {
  content: "";
  order: 1;
  width: 582px;
  height: 13px;
  border: 1px solid black;
  position: absolute;
  left: 31%;
  bottom: 35%;
  background-image: linear-gradient(to right, #fed730 5%, white 5% 95%);

}

.php::before {
  content: "";
  order: 1;
  width: 582px;
  height: 13px;
  border: 1px solid black;
  position: absolute;
  left: 31%;
  bottom: 35%;
  background-image: linear-gradient(to right, #7981b4 15%, white 15% 85%);

}

.c::before {
  content: "";
  order: 1;
  width: 582px;
  height: 13px;
  border: 1px solid black;
  position: absolute;
  left: 31%;
  bottom: 35%;
  background-image: linear-gradient(to right, #6b70bc 20%, white 20% 80%);

}

.cpp::before {
  content: "";
  order: 1;
  width: 582px;
  height: 13px;
  border: 1px solid black;
  position: absolute;
  left: 31%;
  bottom: 35%;
  background-image: linear-gradient(to right, #195c9d 25%, white 25% 75%);

}

.C_char::before {
  content: "";
  order: 1;
  width: 582px;
  height: 13px;
  border: 1px solid black;
  position: absolute;
  left: 31%;
  bottom: 35%;
  background-image: linear-gradient(to right, #187df5 10%, white 10% 90%);

}

.sql::before {
  content: "";
  order: 1;
  width: 582px;
  height: 13px;
  border: 1px solid black;
  position: absolute;
  left: 31%;
  bottom: 35%;
  background-image: linear-gradient(to right, #5394a6 60%, white 60% 40%);

}

.python::before {
  content: "";
  order: 1;
  width: 582px;
  height: 13px;
  border: 1px solid black;
  position: absolute;
  left: 31%;
  bottom: 35%;
  background-image: linear-gradient(to right, #fec747 90%, white 90% 10%);

}

.java::before {
  content: "";
  order: 1;
  width: 582px;
  height: 13px;
  border: 1px solid black;
  position: absolute;
  left: 31%;
  bottom: 35%;
  background-image: linear-gradient(to right, #e05742 2%, white 2% 98%);

}

.ruby::before {
  content: "";
  order: 1;
  width: 582px;
  height: 13px;
  border: 1px solid black;
  position: absolute;
  left: 31%;
  bottom: 35%;
  background-image: linear-gradient(to right, #b9493a 0%, white 0% 100%);

}

.another1::before {
  content: "";
  order: 1;
  width: 582px;
  height: 13px;
  border: 1px solid black;
  position: absolute;
  left: 31%;
  bottom: 35%;
  background-image: linear-gradient(to right, #b3b0b0 20%, white 20% 80%);

}

.another2::before {
  content: "";
  order: 1;
  width: 582px;
  height: 13px;
  border: 1px solid black;
  position: absolute;
  left: 31%;
  bottom: 35%;
  background-image: linear-gradient(to right, #b3b0b0 20%, white 20% 80%);

}

.another3::before {
  content: "";
  order: 1;
  width: 582px;
  height: 13px;
  border: 1px solid black;
  position: absolute;
  left: 31%;
  bottom: 35%;
  background-image: linear-gradient(to right, #b3b0b0 20%, white 20% 80%);

}

.another4::before {
  content: "";
  order: 1;
  width: 582px;
  height: 13px;
  border: 1px solid black;
  position: absolute;
  left: 31%;
  bottom: 35%;
  background-image: linear-gradient(to right, #b3b0b0 20%, white 20% 80%);

}

// all figures and images have the same styling 

.fig {
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  order: 4;
  border-radius: 12px;
  box-shadow: 0 0 23px 5px rgba(0, 0, 0, 0.1);
}

.fig img {
  width: 100%;
}

// now styling the buttons 
.butt_html,
.butt_css,
.butt_JS,
.butt_php,
.butt_c,
.butt_cpp,
.butt_C_char,
.butt_sql,
.butt_python,
.butt_java,
.butt_ruby,
.butt_another {
  width: 90px;
  height: 30px;
  cursor: pointer;
  border-radius: 7%;
  border: 1px solid black;
  color: white;
  position: absolute;
  left: 90%;
  bottom: 15px;
}

.butt_html {
  background-color: #ec7528;
}

.butt_css {
  background-color: #377bf5;
}

.butt_JS {
  background-color: #fed730;
}

.butt_php {
  background-color: #7981b4;
}

.butt_c {
  background-color: #6b70bc;
}

.butt_cpp {
  background-color: #195c9d;
}

.butt_C_char {
  background-color: #187df5;
}

.butt_sql {
  background-color: #5394a6;
}

.butt_python {
  background: #fec747;
}

.butt_java {
  background-color: #e05742;
}

.butt_ruby {
  background: #b9493a;
}

.butt_another {
  background-color: #b3b0b0;
}

/********************************************/
/*
end section language
*/
/********************************************/


/********************************************/
/*
start section features
*/
/********************************************/
#features {
  width: 90%;
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;

  .h_section_title {
    color: $mainColor;
    margin-bottom: 16px;
  }

  .container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-around;

    ._box {
      width: 30%;
    }
  }
}

/*
*********************
Start Select Road
**********************/
.select-road {
  padding: 60px 20px;
  margin: 60px 0;

  .content {
    display: flex;
    justify-content: space-between;
    border-block: 1px solid $mainColor;
    align-items: center;
    padding: 20px;

    .image {
      display: flex;
      justify-content: end;
      width: 70%;
      order: 3;

      img {
        width: 500px;
        border-radius: 20px;
        border: .2px solid $blackColor;
      }
    }

    .text {
      text-align: center;

      h1 {
        color: $mainColor;
        font-weight: 600;
      }

      p {
        margin: 20px auto;
        color: $mainColor;
        width: 80%;
        font-size: 18px;
      }

      button {
        padding: 10px 15px;
        outline: none;
        border: none;
        width: 50%;
        background: none;
        border: 1px solid $mainColor;
        border-radius: 40pc;
        cursor: pointer;
        transition: .4s;

        &:hover {
          border-color: transparent;
          color: $lightColor;
          background: $mainColor;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .select-road {
    .content {
      flex-direction: column;
      display: flex;
      flex-wrap: wrap;

      .image,
      .text {
        width: 100%;
      }

      .image {
        order: 0;
        margin: auto;
        justify-content: center;
        margin: 30px 0 40px 0;
      }
    }
  }
}

/*
*********************
end Select Road
**********************/