
*{
    margin: 0;
    padding: 0;
    font-family: tajawal;
}
@import 'var';
@import 'navbar';

//start section hello;

#hello{
width: 100%;
height: 50vh;
display: flex;
padding-top: 32px;
background: $lightColor;
.hello_img{
    width: 40%;
    height: 100%;
    img{
        width: 100%;
        border-radius: 12px;
       margin-left: 16px;
       box-shadow: 0 0 10 rgba($color: #000000, $alpha: 0.1);
    }
}
.hello_text{
    width: 60%;
    height: 100%;
    margin-right: 16px;
    h1{
        color: $mainColor;
        font-size: 40px;
    }
    p{
        margin-top: 16px;
      color: $darkColor;
      font-size: 16px;
      word-spacing: 2px;
    }
}
}
@media screen and (max-width:725px){
  
#hello{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 32px;
    .hello_img{
        width: 70%;
        height: 70%;
        margin-top: 8px;
        img{
            width: 100%;
            border-radius: 12px;
           margin-left: 16px;
           box-shadow: 0 0 10 rgba($color: #000000, $alpha: 0.1);
        }
    }
    .hello_text{
        width: 100%;
        height: 100%;
        margin-right: 16px;
        h1{
            color: $mainColor;
            font-size: 40px;
        }
        p{
            margin-top: 16px;
          color: $darkColor;
          font-size: 16px;
          word-spacing: 2px;
          width: 90%;
        }
    }
    }  
}
//end section hello;

//start section roadmap
#road{
h1{
    font-size: 26px;
    color: $mainColor;
    margin-top: 16px;
    margin-right: 16px;
}
p{
    margin-right: 16px;
    width: 80%;
    margin-bottom: 16px;
}
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 -6px 10px rgba($color: #000000, $alpha: 0.1);
    .road1{
        margin-top: 16px;
        box-shadow: 0 3px 10px rgba($color: #000000, $alpha: 0.1);
        width: 100%;
        height: 160px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .description{
            width: 60%;
            h1{
                font-size: 24px;
                color: $darkColor;
            }
            p{
                font-size: 16px;
                color: $blackColor;
            }
            button{
                width: 120px;
                height: 30px;
                border-radius: 8px;
                border: 2px solid $lightColor;
                color: $lightColor;
                background: $mainColor;
                transition: all 0.3s ease;
                margin-bottom: 8px;
                &:hover{
                    border: 2px solid $mainColor;
                    background: $lightColor;
                    color: $mainColor;
                }
            }
        }
        img{
            height: 90%;
            width: 30%;
            border-radius: 12px;
            box-shadow: -6px 0 10px rgba($color: #000000, $alpha: 0.1);
        }
    }
}
@media screen and (max-width:725px){
    #road{
        border-bottom: $mainColor 1px solid ;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        box-shadow: 0 -6px 10px rgba($color: #000000, $alpha: 0.1);
        .road1{
            width: 100%;
            height: 150px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            .description{
                width: 60%;
                h1{
                    font-size: 24px;
                    color: $darkColor;
                }
                p{
                    font-size: 16px;
                    color: $blackColor;
                }
                #foundation{
                    width: 120px;
                    height: 30px;
                    border-radius: 8px;
                    border: 2px solid $lightColor;
                    color: $lightColor;
                    background: $mainColor;
                    transition: all 0.3s ease;
                    &:hover{
                        border: 2px solid $mainColor;
                        background: $lightColor;
                        color: $mainColor;
                    }
                }
            }
            img{
                height: 90%;
                border-radius: 12px;
                box-shadow: -6px 0 10px rgba($color: #000000, $alpha: 0.1);
            }
        }
    }  
}
//end section roadmap