*{
    padding: 0;
    margin: 0;
}
@import 'var';
@import 'header';
@import'ifconnect';
body{
    background: $secondColor;
    width: 100%;
    height: auto;
}
.head{
    height: 300px;
    width: 100vw;
    background-image: url(../../file/bg2.jpg);
    display: flex;
    background-size: cover;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 24px;
    box-shadow: 0 3px 10px rgba($color: #000000, $alpha: 0.3);
    h1{
        font-size: 24px;
        font-family: $font;
        color: $lightColor;
        margin-bottom: 8px;
        text-shadow: 0 3px 6px $shadow;
    }
    p{
        font-size: 16px;
        font-family: $font;
        color: $ThirdColor;
        margin-bottom: 8px;
    }
    a{
        text-decoration: none;
        font-size: 18px;
        font-family: $font;
        width: 150px;
        text-align: center;
        border-radius: 8px;
        color: $ThirdColor;
        border: 2px solid $ThirdColor;
        transition: all .3s ease;
        &:hover{
            color: $primaryColor;
            border: 2px solid $primaryColor;
        }
    }
}
#info{
    width: 100vw;
    height: 400px;
    background: transparent;
    position: relative;
    .mainImage{
        width: 200px;
        height: 200px;
        position: absolute;
        background-size: cover;
        background-image: url(../../file/p.jpg);
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 88% 75% 60% 40% / 95% 75% 76% 62%;
        box-shadow: 0 10px 20px $secondColor,inset 0 10px 20px $secondColor;
    }
    .inf1{
        width: 150px;
        height: 100px;
        position: absolute;
        left: 5%;
        border: 2px solid $primaryColor;
        border-radius:95% 75% 36% 32% / 25% 75% 36% 32%;
        box-shadow: 0 10px 10px $primaryColor;
        h1{
            font-size:18px;
            font-family: $font;
            color: $lightColor;
        }
        p{
            font-size:15px;
            font-family: $font;
            color: $shadow;
        }
    }
}