*{
    margin: 0;
    padding: 0;
    font-family: tajawal;
}
@import 'var';
@import 'navbar_profile';

body{
height: fit-content;
width: 100vw;
/*overflow-x: hidden;*/
}
.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;

#profile{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    .user_profile{
border-bottom: 1px solid $mainColor;
   align-items: center;
        justify-content: end;
    display: flex;
    flex-direction: column;
   width: 100%;
align-items: center;
    background: $lightColor;
        #photo_profile{
            border: 2px solid $mainColor;
            width: 100px;
            order: -1;
            height: 100px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
    margin-left: 16px;
            margin-right: 16px;
            margin-top: 8px;
            background: $mainColor;
            box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.2);
        object-fit: cover;
        img{
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
        }
        .name{
            display: flex;
            flex-direction: column;
            text-align: center;
            h1{
                color: $mainColor;
            }
            h4{
              color: $lightColor3;
            }
        }
        .btn{
            display: flex;
            align-items: center;
            justify-content: space-between;
height: fit-content;
    gap:20px;
    margin: 10px auto;
    width: 300px;
            .follow{
                width:80px;
                display: flex;
                margin: auto;
                align-items: center;
                justify-content: center;
                border: 2px solid $mainColor;
                border-radius: 8px;
                cursor: pointer;
                img{
                    height: 30px;
                }
                span{
                    width: 50%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

            }
            button{
                width: 150px;
                height: 30px;
                background: $mainColor;
                border-radius: 2px solid $lightColor;
                border-radius: 8px;
                color: $lightColor;
                cursor: pointer;
                margin-right: 28px;
                transition: all .3s ease;
                &:hover{
                    border: 2px solid $mainColor;
                    background: $lightColor;
                    color: $mainColor;
                }
            }
        }
        
    }
}
.about{
    width: 100%;
    margin-top: 2px;
    background: $lightColor;
    h4{
        font-size: 18px;
        color: $mainColor;
        margin-right: 16px;
        margin-top: 16px;
        align-self: flex-start;  
    }
}
 .skills{
    margin-top: 2px;
    width: 100%;
    height: 400px;
    background: $lightColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    h4{
        font-size: 18px;
        color: $mainColor;
        margin-right: 16px;
        margin-top: 16px;
        align-self: flex-start;
    }
    .skill{
        width: 90%;
        height: auto;
        border-radius: 12px;
        background: $lightColor3;
        margin-top: 16px;
    }
 }
}

.about{
border-bottom: 1px solid;
height: fit-content;

.title{
text-align: center; 
margin: 40px 0;
h4{
font-size: 30px;
margin-bottom: 30px;
}
}
.data{
display: flex;
justify-content: space-between;
width: 80%;
margin: auto;
text-align: center;
align-items: center;
height: 40%;
padding: 10px 0;
margin-bottom: 20px;
div{
width: 25%;
}
h4{
margin-bottom: 10px;
font-size: 22px;
text-align: center;
}
p,span{
text-align: center;
font-size: 22px;
}
}
}

@media (max-width: 767px) {
.about{
height: fit-content;
padding: 0 0 40px 0;
.data{
flex-direction: column;
flex-wrap: wrap;
width: 100%;
height:fit-content;
div{
width: 80%;
margin-top: 10px;
padding:  0 0 10px 0;
}

}
}

.data >  div{
border-bottom: 1px solid $mainColor;
}
}

/*
******************************************
******************************************

import file profile style here ;
*/
@import   'profile_setting' ;
@import   'account' ;
/*


******************************************
******************************************
*/
.links{
display: flex;
justify-content: space-between;
width:80%;
margin: 80px auto;
.image{
text-align: center;
width: 60px;
height: 60px;
img{
max-width: 100%;
margin-bottom: 20px;
} 
}
h4{
text-align: center;
margin: 20px -20px  !important;
}
}

@media (max-width:767px) {
.links{
flex-direction: column;
align-items: center;
gap:20px;
}
}
.links > div{
border-bottom: 1px solid $mainColor;
width: 100%;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 20px;
}
