*{
    margin: 0;
    padding: 0;
    font-family: tajawal;
}
@import 'var';
@import 'navbar_profile';

.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;

#profile{
    width: 100%;
    height: 100%;
    display: flex;
    box-shadow: 0 6px 10px rgba($color: #000000, $alpha: 0.2);
    .user_profile{
        box-shadow:  0 3px 10px rgba($color: #000000, $alpha: 0.5);
        align-items: center;
        justify-content: end;
    display: flex;
   width: 100%;
    height: 120px;
    background: $lightColor;
        #photo_profile{
            border: 2px solid $mainColor;
            width: 100px;
            height: 100px;
            border-radius: 50%;
    margin-left: 16px;
            margin-right: 16px;
            margin-top: 8px;
            background-image: url(../../file/image/mypic.png);
            background-size: cover;
            box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.2);
        }
        .name{
            display: flex;
            flex-direction: column;
            text-align: end;
            h1{
                color: $mainColor;
            }
            h4{
              color: $lightColor3;
            }
        }
        .btn{
            display: flex;
            align-items: center;
            justify-content: center;
            justify-content: space-between;
            height: 40px;
            width: 300px;
            .follow{
                width:80px;
                display: flex;
                height: 30px;
                align-items: center;
                justify-content: center;
                border: 2px solid $mainColor;
                border-radius: 8px;
                cursor: pointer;
                img{
                    height: 30px;
                }
                span{
                    width: 50%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

            }
            button{
                width: 150px;
                height: 30px;
                background: $mainColor;
                border-radius: 2px solid $lightColor;
                border-radius: 8px;
                color: $lightColor;
                margin-right: 28px;
                transition: all .3s ease;
                &:hover{
                    border: 2px solid $mainColor;
                    background: $lightColor;
                    color: $mainColor;
                }
            }
        }
        
    }
}
.about{
    width: 100%;
    height: 400px;
    margin-top: 2px;
    background: $lightColor;
    h4{
        font-size: 18px;
        color: $mainColor;
        margin-right: 16px;
        margin-top: 16px;
        align-self: flex-start;  
    }
}
 .skills{
    margin-top: 2px;
    width: 100%;
    height: 400px;
    background: $lightColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    h4{
        font-size: 18px;
        color: $mainColor;
        margin-right: 16px;
        margin-top: 16px;
        align-self: flex-start;
    }
    .skill{
        width: 90%;
        height: auto;
        border-radius: 12px;
        background: $lightColor3;
        margin-top: 16px;
    }
 }  
}