* {
  margin: 0;
  padding: 0;
  font-family: tajawal; }

@font-face {
  font-family: tajawal;
  src: url(../../font/Tajawal-Regular.ttf); }
#navbar {
  width: 100%;
  height: 40px;
  background: #223A59;
  display: flex;
  align-items: center;
  justify-content: center; }
  #navbar #nav {
    width: 100%;
    height: 40px;
    background: #223A59;
    display: flex;
    align-items: center;
    justify-content: center; }
    #navbar #nav ul {
      list-style: none;
      width: 90%;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center; }
      #navbar #nav ul li {
        margin-left: 16px;
        height: 100%;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
        #navbar #nav ul li a {
          color: #f7f7f7;
          text-decoration: none;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          transition: all .3s ease;
          font-size: 16px;
          padding: 2px; }
          #navbar #nav ul li a:hover {
            color: #223A59;
            border-radius: 8px;
            background: #f7f7f7; }

#logout {
  color: #f7f7f7;
  background: #dc2626;
  border-radius: 8px;
  padding: 2px; }

h2 {
  display: none; }

.active {
  color: #223A59 !important;
  background: #f7f7f7 !important;
  border-radius: 8px; }

@media screen and (max-width: 725px) {
  h2 {
    display: block;
    color: #f7f7f7;
    font-size: 18px;
    margin-right: 16px; }

  #navbar {
    width: 100%;
    height: 40px;
    background: #223A59;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; }
    #navbar #toggle_btn {
      margin-left: 16px;
      width: 40px;
      height: 40px;
      display: flex;
      flex-direction: column;
      position: relative;
      justify-content: space-around;
      transition: all .3s ease; }
      #navbar #toggle_btn span {
        transition: all .3s ease;
        width: 40px;
        height: 4px;
        border-radius: 4px;
        background: #f7f7f7; }
    #navbar #nav {
      position: absolute;
      left: 0px;
      top: 40px;
      width: 40%;
      height: 350px;
      background: #223A59;
      display: none;
      align-items: center;
      flex-direction: column;
      transition: all .3s ease;
      border-radius: 0  0 12px 0; }
      #navbar #nav ul {
        display: flex;
        list-style: none;
        flex-direction: column;
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center; }
        #navbar #nav ul li {
          margin-top: 4px;
          margin-bottom: 4px;
          margin-left: 16px;
          width: 100%;
          height: 40px;
          display: flex;
          border-bottom: 1px solid #f7f7f7;
          align-items: center;
          justify-content: center;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
          #navbar #nav ul li a {
            color: #f7f7f7;
            text-decoration: none;
            height: 30px;
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .3s ease;
            font-size: 16px; }
            #navbar #nav ul li a:hover {
              color: #223A59;
              background: #f7f7f7; } }
.show_nav {
  display: flex !important; }

.toggle :nth-child(3) {
  rotate: 45deg !important;
  position: absolute !important; }
.toggle :nth-child(1) {
  rotate: -45deg !important;
  position: absolute !important; }
.toggle :nth-child(2) {
  display: none !important; }

#hello {
  width: 100%;
  height: 50vh;
  display: flex;
  padding-top: 32px;
  background: #f7f7f7; }
  #hello .hello_img {
    width: 40%;
    height: 100%; }
    #hello .hello_img img {
      width: 100%;
      border-radius: 12px;
      margin-left: 16px;
      box-shadow: 0 0 10 rgba(0, 0, 0, 0.1); }
  #hello .hello_text {
    width: 60%;
    height: 100%;
    margin-right: 16px; }
    #hello .hello_text h1 {
      color: #223A59;
      font-size: 40px; }
    #hello .hello_text p {
      margin-top: 16px;
      color: #031930;
      font-size: 16px;
      word-spacing: 2px; }

@media screen and (max-width: 725px) {
  #hello {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 32px; }
    #hello .hello_img {
      width: 70%;
      height: 70%;
      margin-top: 8px; }
      #hello .hello_img img {
        width: 100%;
        border-radius: 12px;
        margin-left: 16px;
        box-shadow: 0 0 10 rgba(0, 0, 0, 0.1); }
    #hello .hello_text {
      width: 100%;
      height: 100%;
      margin-right: 16px; }
      #hello .hello_text h1 {
        color: #223A59;
        font-size: 40px; }
      #hello .hello_text p {
        margin-top: 16px;
        color: #031930;
        font-size: 16px;
        word-spacing: 2px;
        width: 90%; } }
#road {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0 -6px 10px rgba(0, 0, 0, 0.1); }
  #road h1 {
    font-size: 26px;
    color: #223A59;
    margin-top: 16px;
    margin-right: 16px; }
  #road p {
    margin-right: 16px;
    width: 80%;
    margin-bottom: 16px; }
  #road .road1 {
    margin-top: 16px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-around; }
    #road .road1 .description {
      width: 60%; }
      #road .road1 .description h1 {
        font-size: 24px;
        color: #031930; }
      #road .road1 .description p {
        font-size: 16px;
        color: #121212; }
      #road .road1 .description button {
        width: 120px;
        height: 30px;
        border-radius: 8px;
        border: 2px solid #f7f7f7;
        color: #f7f7f7;
        background: #223A59;
        transition: all 0.3s ease;
        margin-bottom: 8px; }
        #road .road1 .description button:hover {
          border: 2px solid #223A59;
          background: #f7f7f7;
          color: #223A59; }
    #road .road1 img {
      height: 90%;
      width: 30%;
      border-radius: 12px;
      box-shadow: -6px 0 10px rgba(0, 0, 0, 0.1); }

@media screen and (max-width: 725px) {
  #road {
    border-bottom: #223A59 1px solid;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 -6px 10px rgba(0, 0, 0, 0.1); }
    #road .road1 {
      width: 100%;
      height: 150px;
      display: flex;
      align-items: center;
      justify-content: space-around; }
      #road .road1 .description {
        width: 60%; }
        #road .road1 .description h1 {
          font-size: 24px;
          color: #031930; }
        #road .road1 .description p {
          font-size: 16px;
          color: #121212; }
        #road .road1 .description #foundation {
          width: 120px;
          height: 30px;
          border-radius: 8px;
          border: 2px solid #f7f7f7;
          color: #f7f7f7;
          background: #223A59;
          transition: all 0.3s ease; }
          #road .road1 .description #foundation:hover {
            border: 2px solid #223A59;
            background: #f7f7f7;
            color: #223A59; }
      #road .road1 img {
        height: 90%;
        border-radius: 12px;
        box-shadow: -6px 0 10px rgba(0, 0, 0, 0.1); } }

/*# sourceMappingURL=home.css.map */
