* {
  padding: 0;
  margin: 0;
}

header {
  width: 100%;
  height: 40px;
  background: #031930;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
}
header .logo {
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
}
header .logo img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 16px;
  margin-left: 8px;
  cursor: pointer;
}
header .logo h1 {
  color: #D1DDED;
  font-family: "Tajawal", sans-serif;
  font-size: 20px;
  cursor: pointer;
}
header ul {
  display: flex;
  margin-left: 16px;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 40px;
  justify-content: space-between;
  list-style: none;
}
header ul li {
  width: 80px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.3s ease;
}
header ul li:nth-child(1) {
  border: 2px solid transparent;
}
header ul li:nth-child(1):hover {
  border: 2px solid #758BA5;
  border-radius: 8px;
  padding: -4px;
}
header ul li:nth-child(1) a {
  font-family: "Tajawal", sans-serif;
  text-decoration: none;
  font-size: 18px;
  color: #D1DDED;
}
header ul li:nth-child(1) a:hover {
  color: #B3D6F9;
}
header ul li:nth-child(2) {
  border-radius: 8px;
  border: 2px solid #758BA5;
}
header ul li:nth-child(2):hover {
  border: 2px solid #B3D6F9;
}
header ul li:nth-child(2) a {
  font-family: "Tajawal", sans-serif;
  text-decoration: none;
  font-size: 18px;
  color: #D1DDED;
  width: 100%;
}
header ul li:nth-child(2) a:hover {
  color: #B3D6F9;
}

#connect, #noConnect {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  margin: 4px;
}
#connect span, #noConnect span {
  font-size: 18px;
  margin-left: 16px;
  font-family: "Tajawal", sans-serif;
}

#connect {
  border: #198754 2px solid;
}
#connect .icon {
  border: 2px solid #198754;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-left: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#connect .icon::after {
  content: "";
  width: 8px;
  height: 2px;
  background: #198754;
  position: absolute;
  top: 65%;
  left: 25%;
  transform: translate(-50%, -50%);
  rotate: 45deg;
}
#connect .icon::before {
  content: "";
  width: 15px;
  height: 2px;
  background: #198754;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  rotate: -45deg;
}
#connect span {
  color: #198754;
}

#noConnect {
  border: #dc3545 2px solid;
}
#noConnect .icon {
  background: #dc3545;
  width: 0;
  height: 0;
  margin-left: 16px;
  border-left: 20px solid #fff;
  border-right: 20px solid #fff;
  border-bottom: 30px solid #dc3545;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#noConnect .icon::after {
  content: "";
  background: #f8f9fa;
  width: 4px;
  height: 4px;
  position: absolute;
  top: 25px;
  border-radius: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#noConnect .icon::before {
  content: "";
  background: #f8f9fa;
  width: 2px;
  height: 15px;
  position: absolute;
  top: 15px;
  border-radius: 25% 25% 100% 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#noConnect span {
  color: #dc3545;
}

.active {
  display: none !important;
}

body {
  background: #223A59;
  width: 100%;
  height: auto;
}

.head {
  height: 300px;
  width: 100vw;
  background-image: url(../../file/bg2.jpg);
  display: flex;
  background-size: cover;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 24px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}
.head h1 {
  font-size: 24px;
  font-family: "Tajawal", sans-serif;
  color: #D1DDED;
  margin-bottom: 8px;
  text-shadow: 0 3px 6px #758BA5;
}
.head p {
  font-size: 16px;
  font-family: "Tajawal", sans-serif;
  color: #B3D6F9;
  margin-bottom: 8px;
}
.head a {
  text-decoration: none;
  font-size: 18px;
  font-family: "Tajawal", sans-serif;
  width: 150px;
  text-align: center;
  border-radius: 8px;
  color: #B3D6F9;
  border: 2px solid #B3D6F9;
  transition: all 0.3s ease;
}
.head a:hover {
  color: #3684DB;
  border: 2px solid #3684DB;
}

#info {
  width: 100vw;
  height: 400px;
  background: transparent;
  position: relative;
}
#info .mainImage {
  width: 200px;
  height: 200px;
  position: absolute;
  background-size: cover;
  background-image: url(../../file/p.jpg);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 88% 75% 60% 40%/95% 75% 76% 62%;
  box-shadow: 0 10px 20px #223A59, inset 0 10px 20px #223A59;
}
#info .inf1 {
  width: 150px;
  height: 100px;
  position: absolute;
  left: 5%;
  border: 2px solid #3684DB;
  border-radius: 95% 75% 36% 32%/25% 75% 36% 32%;
  box-shadow: 0 10px 10px #3684DB;
}
#info .inf1 h1 {
  font-size: 18px;
  font-family: "Tajawal", sans-serif;
  color: #D1DDED;
}
#info .inf1 p {
  font-size: 15px;
  font-family: "Tajawal", sans-serif;
  color: #758BA5;
}

/*# sourceMappingURL=index.css.map */
